<% content_for :title, "Sessions timeline" %>
<% content_for :header do -%>
<%= stylesheet_link_tag 'timeline' %>
<% end -%>

<script type="text/javascript">
$(document).ready(function() {

});
</script>

<div class="row">

  <div class='col-sm-3'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class='col-sm-9'>
    <h5>
      <b>Here we are!</b> Just choose a date you want to inspect.
    </h5>
  </div>

  <script type="text/javascript">
  $(document).ready(function () {
    $('#datetimepicker').datetimepicker();
    $('#datetimepicker').data("DateTimePicker").maxDate(new Date());
    $('#datetimepicker').on("dp.change", function(e) {
      var date = $('#datetimepicker').data("DateTimePicker").date();
      var formatted_date = new Date(date).format("yyyy-mm-dd");

      $('#timeline-embed').html('');

      createStoryJS({
        width: '100%',
        height: '600',
        start_at_end: false,
        font: 'DroidSerif-DroidSans',
        lang: 'it',
        type: 'timeline',
        source: '/timeline.json?day_to_display='+formatted_date,
        embed_id: 'timeline-embed'
      });

    });
  });
  </script>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="timeline-embed"></div>
  </div>
</div>
