<% content_for :title, "Sessions" %>
<% content_for :header do -%>
<%= stylesheet_link_tag 'timeline' %>
<% end -%>

<script type="text/javascript">
$(document).ready(function() {
  createStoryJS({
    width: '100%',
    height: '600',
    start_at_end: true,
    font: 'DroidSerif-DroidSans',
    lang: 'it',
    type: 'timeline',
    source: '/timeline.json',
    embed_id: 'timeline-embed'
  });
});
</script>

<div id="timeline-embed"></div>
