# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
!.keep
*.DS_Store
*.AppleDouble
.AppleDouble/*
*.swp
.env
bin/stubs
coverage/*
log/*
public/system
rerun.txt
tags
tmp/*
vendor/bundler_gems
zeus.json
custom_plan.rb
config/database.yml
.plumber-pane
latest.dump
stations_dump
db/seed.rb
