<% content_for :header do -%>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end -%>

<% content_for :title, "Presenze registrate nelle ultime 24 ore" %>



<div class="showback">
  <div>
    <%= timeline [[Date.today.to_formatted_s(:rfc822),  Time.now.beginning_of_day, Time.now.end_of_day]] + @today_sessions, library: {height: "100%"} %>
  </div>
</div>

<div class="col-lg-3 ds">
  <h3>Utenti attualmente presenti</h3>
  <% @present_stations.each do |station| %>
  <div class="desc">
    <div class="thumb">
      <span class="badge bg-theme"><i class="fa fa-meh-o fa-2"></i></span>
    </div>
    <div class="details">
      <p>
        <%= link_to(station.name || station.mac_addr, station) %><br>
        <muted> <%= time_ago_in_words(station.last_seen) %> ago</muted>
      </p>
    </div>
  </div>
  <% end %>
</div>
