<% content_for :header do -%>
<% end -%>

<% content_for :title, "Guardia di Porta Dashboard" %>


<div class="col-lg-3 ds">
  <h3>Utenti attualmente presenti</h3>
  <% @present_stations.each do |station| %>
  <div class="desc">
    <div class="thumb">
      <span class="badge bg-theme"><i class="fa fa-meh-o fa-2"></i></span>
    </div>
    <div class="details">
      <p>
        <%= link_to(station.name || station.mac_addr, station) %><br>
        <muted> <%= time_ago_in_words(station.last_seen) %> ago</muted>
      </p>
    </div>
  </div>
  <% end %>
</div>
