<% content_for :header do -%>
<% end -%>

<% content_for :title, "Dashboard" %>

<% unless @present_stations.empty? %>
  <% @present_stations.each do |station| %>
  <div class="col-md-4 mb">
    <div class="instagram-panel pn">
      <i class="fa fa-user fa-4x"></i>
      <p><%= link_to(station.name || station.mac_addr, station, class: "azzurro") %><br>
        <%= time_ago_in_words(station.last_seen) %> ago
      </p>
      <p><i class="fa fa-sign-in"></i> <%= station.sessions.opened_today.count %> | <i class="fa fa-clock-o"></i> 49</p>
    </div>
  </div>
  <% end %>
<% end %>
